<div class="container-fluid">
  <button class="btn btn-success btn-sm mt-5">Add Employee</button>
</div>
<div class="container d-flex justify-content-center mb-1">
  <app-paging-nav></app-paging-nav>
</div>
<div class="table-responsive-xxl container-xxl">
  <table class="table table-bordered text-nowrap">
    <thead class="table-secondary">
    <tr>
      <th scope="col" style="width: 50px">No</th>
      <th scope="col" style="width: 100px">Username</th>
      <th scope="col" style="width: 120px">First Name</th>
      <th scope="col" style="width: 150px">Last Name</th>
      <th scope="col" style="width: 200px">Email</th>
      <th scope="col" style="width: 100px">Birthdate</th>
      <th scope="col" style="width: 120px">Basic Salary</th>
      <th scope="col" style="width: 80px">Status</th>
      <th scope="col" style="width: 120px">Group</th>
      <th scope="col" style="width: 100px">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let employee of employees; let i=index">
      <th scope="row">{{i+1}}</th>
      <td>{{employee.username}}</td>
      <td>{{employee.firstName}}</td>
      <td>{{employee.lastName}}</td>
      <td class="text-center">{{employee.email}}</td>
      <td class="text-center">{{employee.birthDate}}</td>
      <td class="text-center">{{employee.basicSalary}}</td>
      <td class="text-center">{{employee.status}}</td>
      <td class="text-center">{{employee.group}}</td>
      <td class="text-center">{{employee.description}}</td>
    </tr>
    </tbody>
  </table>
</div>
