<nav aria-label="page navigation">
  <ul class="pagination pagination-sm mb-0">
    <li class="page-item"><a class="page-link" aria-label="previous">
      <span aria-hidden="true">&laquo;</span>
    </a></li>
    <li class="page-item"><a class="page-link">1</a></li>
    <li class="page-item"><a class="page-link">2</a></li>
    <li class="page-item"><a class="page-link">3</a></li>
    <li class="page-item"><a class="page-link" aria-label="next">
      <span aria-hidden="true">&raquo;</span>
    </a></li>
  </ul>
</nav>
